* {
  margin: 0;
  padding: 0;
  font-weight: normal;
  color: #555;
  text-shadow: 0 0 1px #bbb;
}

html, body {
  font: 15px/23px "Helvetica Neue", "Arial", sans-serif;
}

#content {
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 3px;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FEFEFE), to(#ededed));
}

tr, th, td {
  vertical-align: baseline;
}

th {
  padding: 4px 10px 0 0;
  text-align: right;
}

label {
  white-space: nowrap;
}

td {
  text-align: center;
  padding: 2px 0 2px 0;
  color: #333;
}

input {
  text-align: center;
}

input[type="text"],
input[type="password"] {
  outline: none;
  border: none;
  color: #333;
  font-size: 15px;
  min-width: 185px;
  padding: 4px 10px;
  border-radius: 100px;
  box-shadow: inset 0px 1px 3px #333;
  background: rgba(#fff,0.2);
  background-clip: padding-box;
}

input[type="text"]:focus,
input[type="password"]:focus {
}

.buttons {
  text-align: right;
}
button {
  font-size: 15px;
  padding: 2px 7px;
}
